body{
    background-color: rgba(102, 187, 134, 0.288);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  .nav-link {
	
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1.5px solid transparent;
	transition: 0.16s all ease-in;
}
  .nav-link:hover {
    border-bottom: 1.5px solid rgb(112, 81, 81);
    margin-left: 20px;
    margin-right: 20px;
  }

*{
    font-family: 'Poppins', sans-serif;
  }
.social-media {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .fa-facebook:hover{
    transform: translateY(-5px);
  }
  .fa-instagram:hover{
    transform: translateY(-5px);
  }
  .fa-twitter:hover{
    transform: translateY(-5px);
  }
  .fa-youtube:hover{
    transform: translateY(-5px);
  }
  .fa-twitch:hover{
    transform: translateY(-5px);
  }

  /* Tooltip container */
 .fa-facebook{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-facebook .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-facebook:hover .tooltiptext {
  visibility: visible;
}

.fa-instagram{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-instagram .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-instagram:hover .tooltiptext {
  visibility: visible;
}

.fa-twitter{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-twitter .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-twitter:hover .tooltiptext {
  visibility: visible;
}

.fa-youtube{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-youtube .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-youtube:hover .tooltiptext {
  visibility: visible;
}

.fa-twitch{
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
} 
/* Tooltip text */
.fa-twitch .tooltiptext {
  visibility: hidden;
  /* background-color: green; */
  color: black;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 10px;
  margin-top: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-twitch:hover .tooltiptext {
  visibility: visible;
}